@import '../../styles.css';

.content {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  margin-top: 150px;
  width: 100vw;
}

.detailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  overflow-x: hidden;
}

.detailTitle {
  margin-top: 20px;
  font-family: 'Gotham Black';
}
.detailTitle2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Gotham Medium';
  font-size: x-large;
}

.detailImg {
  max-height: 400px;
  width: auto;
}

.detailH1 {
  font-family: 'Gotham Medium';
  font-size: x-large;
  margin-bottom: 15px;
}

.detailH3 {
  font-family: 'Gotham medium';
  font-size: larger;
}

.detailBody {
  font-size: large;
  font-family: 'Gotham Light';
  margin-top: 30px;
  text-align: start;
}

.detailPaper {
  background-color: light-dark(#ffffff44, #00000055);
  backdrop-filter: blur(6px);
  padding: 20px;
}

.detailList {
  font-family: 'Gotham light';
  font-size: large;
  text-align: left;
}

.detailIcon {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.itemIcon {
  display: flex;
  align-items: center;
}

.itemLabel {
  display: flex;
  align-items: center;
}
