@import '../../styles.css';
.title {
  color: light-dark(var(--darkest), var(--lightest));
  font-family: 'Gotham Thin';
  font-size: rem(100px);
  letter-spacing: rem(-2px);

  @media (max-width: 900px) {
    font-size: rem(85px);
  }
}

.progPedals {
  /* position: absolute; */
  margin-top: 9rem;
  margin-left: 3rem;
  display: flex;
  /* top: 9rem;
  left: 3rem; */

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.titleGrad {
  color: linear-gradient(
    90deg,
    var(--mantine-color-transBlue-4) 0%,
    var(--mantine-color-transPink-2) 100%
  );
}

.title2 {
  font-family: 'Gotham Light';
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  /* font-weight: 900; */
  letter-spacing: rem(-2px);

  @media (max-width: 900px) {
    font-size: rem(85px);
  }
}
.title,
.title2 {
  @media (max-width: 750px) {
    font-size: rem(60px);
  }
}

.progPedals,
.slogan {
  z-index: 1;
}

.slogan {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.navButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2rem;
  z-index: 1;
}

.navButton {
  font-family: 'Gotham Book';
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  background: #00000033;
  border: 3px outset var(--mantine-color-transBlue-5);
  color: var(--mantine-color-transBlue-5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 14px;
}

.navButton:hover {
  border-color: var(--mantine-color-transPink-2);
  color: var(--mantine-color-transPink-2);
  background: #00000066;
  transition: all 0.5s ease-in-out;
}

.navButton:active {
  scale: 90%;
  transition: all 0.5s ease-in-out;
}

.dark .navButton {
  border-color: var(--mantine-color-transPink-3);
  color: var(--mantine-color-transPink-3);
  transition: all 0.5s ease-in-out;
}

.dark .navButton:hover {
  border-color: var(--mantine-color-transBlue-4);
  color: var(--mantine-color-transBlue-4);
  transition: all 0.5s ease-in-out;
}

.hvr_underline_from_center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr_underline_from_center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--mantine-color-transPink-2);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dark .hvr_underline_from_center:before {
  background: var(--mantine-color-transBlue-4);
}

.hvr_underline_from_center:hover:before,
.hvr_underline_from_center:focus:before,
.hvr_underline_from_center:active:before {
  left: 0;
  right: 0;
}
