@import '../../styles.css';

.homeHeader {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.darkBg {
  background-image: url(../../assets/png/EKP_SGV-32.jpg);
}

.lightBg {
  background-image: url(../../assets/png/EKP_CIR-67.jpg);
}

.hvr_underline_from_center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr_underline_from_center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--mantine-color-transPink-2);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dark .hvr_underline_from_center:before {
  background: var(--mantine-color-transBlue-4);
}

.hvr_underline_from_center:hover:before,
.hvr_underline_from_center:focus:before,
.hvr_underline_from_center:active:before {
  left: 0;
  right: 0;
}
